@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

html,
body {
  @apply bg-gray-800 text-gray-300;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

/* Write your own custom component styles here */
@layer utilities {
  @variants responsive {
    .input-width {
      width: 50vw;
    }
  }
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */
